<section class="d-flex align-items-center profile-todo">
  <%= image_tag("profile-img.jpg", alt: "waterme logo", class:"img-profile")%>
  <div class="txt-profile">
    <h4>Hello</h4>
    <h1>Maggs!</h1>
  </div>
</section>
