// Specific CSS for your home-page
.notifications {
  padding: 16px;
  margin: 0 20px 40px 20px;
  width: 350px;
  border-radius: 16px;
  background: #E3DEC1;

  h2 {
    color: $darker-green;
  }

  .h2-notifications {
    margin-bottom: 15px;
  }

  h5 {
    color: $darker-green;
    text-align: center;
  }

  h6 {
    color: $darker-green;
    font-size: 20px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  img {
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }
  p {
    color: $medium-dark-green;
  }
  .p-title {
    font-weight: bold;
  }
}

.plants-notifications {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: $light-green;
  border-radius: 8px;
  padding-right: 10px;
  margin-bottom: 15px;
  p {
    margin: 0;
  }
}

.flash-message {
  position: relative;
  background-color: $medium-green;
  color: $lighter-green;
  width: 350px;
  padding: 10px;
  justify-content: center;
  display: flex;
  margin: 0;
  border-radius: 8px;
  top: 25px;
  left: 20px;
  p {
    margin: 0;
  }
}
