<%= render "components/top_profile", status: :unprocessable_entity %>
<div>
  <% if @divisions.any? %>
  <% @divisions.each do |division| %>
    <%= render "components/card_division", division: division %>
  <% end %>
  <% else %>
  <h3>You don't have any divisions yet</h3>
  <% end %>
</div>
