<div>
  <%= simple_form_for(@plant_division) do |f| %>
    <div class="form-inputs">
      <%= f.collection_select :division_id, @divisions, :id, :name %>
    </div>

    <div class="">
      <%= f.button :submit, "Save Plant"%>
    </div>
  <% end %>
</div>
