.new-divisions-container {
  margin-top: 40px;
}

.new-divisions-details-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;

  h2 {
    margin: 0;
    text-align: center;
    color: $darker-green;
    font-weight: 700;
    font-size: 36px;
  }
  .p-subtitle {
    text-align: center;
    color: $medium-dark-green;
    font-weight: 400;
    font-size: 20px;
  }
}

.new-divisions-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-item img {
  border-radius: 8px 0 0 8px;
}

.category-item {
  margin: 0 10px;
}
