.sign-up-container {
  padding: 40px 20px 20px 20px;
  h2 {
    text-align: center;
    margin: 110px 0 0 15px;
    color: $darker-green;
    font-weight: 700;
    font-size: 36px;
  }
  p {
    text-align: center;
    color: $medium-dark-green;
    font-weight: 400;
    font-size: 20px;
  }
}

.form-boxes {
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  font-family: $body-font;
  color: $darker-green;
}

.sign-up-details {
  justify-content: center;
  margin-top: 10px;
  p {
    margin-right: 10px;
  }
}
// max-width: 390px;
// max-height: 844px;
