.sign-up-container {
  padding: 40px 20px 20px 20px;
  h2 {
    text-align: center;
    margin: 70px 0 15px 0px;
    color: $darker-green;
    font-weight: 700;
    font-size: 36px;
  }
  p {
    text-align: center;
    color: $medium-dark-green;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 25px;
  }
}

.imgage_leaves {
  position: absolute;
  opacity: 10%;
  z-index: 99;
}

.form-boxes {
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  font-family: $body-font;
  color: $darker-green;
  margin: 0px 0px 25px 0px;
}

.input-test {
  border-radius: 100px;
}
.sign-up-text {
  justify-content: center;
  margin-top: 10px;
  p {
    margin-right: 10px;
  }
}

.log-in-text {
  font-size: 20px;
  text-decoration: none;
}
