.btn-large {
  background-color: $darker-green;
  height: 50px;
  width: 350px;
  border-radius: 50px;
  display: flex;
  justify-content: center;

  .btn-text {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-family: $headers-font;
    color: $lighter-green;
  }
}

.btn-start {
  background-color: $light-green;
  color: $medium-dark-green;
  height: 50px;
  width: 350px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  z-index: 99;
}

.btn-start-two {
  background-color: $darker-green;
  color: $lighter-green;
  height: 50px;
  width: 350px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin: 32px 0 60px 0;
}

.btn-next {
  background-color: $darker-green;
  color: $lighter-green;
  height: 50px;
  width: 140px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin: 16px 0;
  border: none;
}

.btn-carousel-start {
  background-color: $darker-green;
  color: $lighter-green;
  height: 50px;
  width: 140px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin: 16px 0;
  border: none;
}

.btn-sign-in {
  background-color: $medium-light-green;
  color: $medium-dark-green;
  height: 50px;
  width: 140px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.btn-create-division {
  background-color: $darker-green;
  color: $lighter-green;
  height: 50px;
  width: 175px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn-add-plant-card-details  {
  position: absolute;
  margin: -25px 110px 0 110px;
  z-index: 101;
  height: 50px;
  width: 175px;
  border-radius: 50px;
  background-color: $darker-green;
  color: $lighter-green;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.btn-search-send {
  margin: 0;
  color: $lighter-green;
  align-items: center;
  justify-content: center;
  // width: 35px;
  // height: 35px;
  display: flex;
  background-color: #174A41;
}

.btn-home{
  width: 170px;
  height: 178px;
  border-radius: 16px;
  background: #E3DEC1;
}

.btn-home h1{
  color: #174A41;
  text-align: center;
  font-family: "Rubik";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.btn-home h2{
  color: #174A41;
  text-align: center;
  font-family: "Rubik";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.img-btn{
  position: relative;
  bottom: 8px;
  left: 38px;
}
.img-btn-h{
  position: relative;
  bottom:4px;
  left: 30px;
}

.removelink{
  text-decoration: none;
}

.btn-create-plant-division {
  background-color: $darker-green;
  color: $lighter-green;
  height: 50px;
  width: 225px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn-waterings {
  border: none;
  background: none;
  font-size: 20px;
  margin: 0;
  p {
    margin: 5px 0 0 0;
    font-size: 15px;
  }
}

.btn-trash{
  all: unset;
  background-image: url("icons/trash.svg");
  background-size: cover;
  width: 30px;
  height: 30px;
}


.button-notification {
  cursor: pointer;
  animation: pulsate 2s 3;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--bg-color-primary);
    }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 15px rgba(244, 67, 54, 0);
    }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0);
    }
  }

.btn-logout{
  all: unset;
  background-image: url("icons/sign-out.svg");
  background-size: cover;
  width: 30px;
  height: 30px!important;
 }

form.delete-alertbox{
  height: 30px!important;
 }

 .btn-tips {
  padding: 5px 20px 5px 20px;
  border: none;
  background: none;
  font-size: 20px;
  margin: 15px 0 0 0;
  border-radius: 8px;
  color: $light-white;
  background-color: $medium-light-green;
  text-decoration: none;
  p {
    margin: 5px 0 0 0;
    font-size: 15px;
  }
 }

 .btn-move-plant {
  color: $medium-green;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px !important;
  padding: 0px 0 0 125px !important;
 }
