.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.category-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: #0F471D!important;

}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.col-form-label {
  font-size: 20px;
  font-family: $body-font;
  font-weight: 700;
  color: $medium-dark-green;
}

.days {
  .form-check-label {
    text-align: center;
  }
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 25px 25px 25px 25px;
  border-top-right-radius: 8px;
  border-bottom-right-radius:  8px;
  background-color: $medium-light-green;
}

.borda + label {
  border-radius: 8px!important;
}

.wrap-days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.category-selector:checked + label {
  color: $lighter-green!important;
  background-color: $medium-dark-green!important;
}

.form-p{
  margin-left: 20px;
  font-size: 15px;
  padding-bottom: 5px;
  color: #0F471D!important;

}

.form-check-label{
  color: #0F471D!important;
}
