.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.category-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: #0F471D!important;

}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.col-form-label {
  font-size: 20px;
  font-family: $body-font;
  font-weight: 700;
  color: $medium-dark-green;
}

.days {
  .form-check-label {
    text-align: center;
  }
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 25px 25px 25px 25px;
  // border: 1px solid #EAEAEA;
  border-radius: 8px;
  background-color: $medium-light-green;
}

.wrap-days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.category-selector:checked + label {
  color: $lighter-green!important;
  background-color: $medium-dark-green!important;
}


#snippet_category_ruby + label {
  color: #FD1015;
}

#snippet_category_ruby:checked + label {
  background-color: #FD1015;
  border-color: #FD1015;
}


#snippet_category_javascript + label {
  color: #FFC65A;
}

#snippet_category_javascript:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#snippet_category_css + label {
  color: #62DDF5;
}

#snippet_category_css:checked + label {
  background-color: #62DDF5;
  border-color: #62DDF5;
}
