.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: #0F471D!important;

}

.category-selector {
  position: absolute;
  transform: scale(0);

}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 25px 25px 25px 25px;
  border: 1px solid #EAEAEA;
  background-color: #D2DEC3;
}

.category-selector:checked + label {
  color: #D2DEC3!important;
  background-color: #0F471D!important;
}

.form-p{
  margin-left: 20px;
  font-size: 15px;
  padding-bottom: 5px;
  color: #0F471D!important;

}
