.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navburguer {
  background-color: $darker-green;
  height: 90px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  bottom: 0;
  transition: ease 0.4s;

  .active {
    background-color: $medium-green;
    padding: 8px;
    border-radius: 8px;
    margin: 0 -8px;
    transition: ease 0.4s;
  }
}

.nav-add {
  background-color: $medium-green;
  display: flex;
  flex-direction: column;

  > div {
    border-bottom: 1px solid $lighter-green;
    padding: 15px;
  }

  a {
    color: $lighter-green;
    margin-left: 5px;
  }

  .active {
    display: block;
  }
}
