.skip {
  font-family: $headers-font;
  font-size: 26px;
  color: $darker-green;
}

.tit {
  font-family: $headers-font;
  font-size: 26px;
  color: $darker-green;
}

.text {
  font-family: $body-font;
  font-size: 20px;
  color: $medium-dark-green;
}
