// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "userdevise/index";
@import "plants/index";
@import "divisions/index";
@import "plant_divisions/index";

body {
  background-color: $light-green;
  max-width: 390px;
  max-height: 844px;
  // max-width: 100vw;
  // max-height: 100vh;
}

.padding-all {
  padding-bottom: 90px;
}

.no-padding-all {
  padding-bottom: 0;
}

.bg-all {
  background-color: $darker-green;
  height: 100vh;
  width: 100vw;
  margin: auto 0;
}

.bg-plants-landing {
  position: absolute;
  top: 0;
  left: 0;
  height: 844px;
  width: 390px;
  padding: 0;
}
